<a href="https://colab.research.google.com/github/Sumiyoh/Python/blob/main/Boolean_Assignement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Declare a boolean value and store it in a variable. 
a  = True



#Check the type and print the id of the same.
print(type(a),id(a))

<class 'bool'> 10302848

In [2]:
#Take one boolean value between 0 - 256.
#Assign it to two different variables.
a = bool(1)
b = bool(1)


#Check the id of both the variables. It should come same. Check why?
print(id(a),id(b))
# Same value is allocated to both the variables and hence id is the same.

10302848 10302848

In [3]:
#Arithmatic Operations on boolean data
#Take two different boolean values.
#Store them in two different variables.

a = False
b = True

#Do below operations on them:-
    #Find sum of both values
print(a+b)
    


    #Find differce between them
print(a-b)


    #Find the product of both.

print(a*b)

    #Find value after dividing first value with second value
    
print(a/b)
    
    #Find the remainder after dividing first value with second value
    
print(a%b)
    
    #Find the quotient after dividing first value with second value
    
print(a//b)
    
    #Find the result of first value to the power of second value.
    
print(a**b)

1
-1
0
0.0
0
0
0

In [5]:
#Comparison Operators on boolean values
#Take two different boolean values.
#Store them in two different variables.
a = True
b = False



#Do below operations on them:-
    #Compare these two values with below operator:-
        #Greater than, '>'
print(a>b,type(a>b))  


        #less than, '<'
print(a<b,type(a<b))   

        #Greater than or equal to, '>='
print(a>=b,type(a>=b))

        #Less than or equal to, '<='    

print(a<=b,type(a<=b))
#Observe their output(return type should be boolean)

True <class 'bool'>
False <class 'bool'>
True <class 'bool'>
False <class 'bool'>

In [ ]:
#Equality Operator
#Take two different boolean values.
#Store them in two different variables.
a =True
b = False


#Equuate them using equality operator (==, !=)
c = a==b
d = a!=b


#Observe the output(return type should be boolean)
print(c,type(c))
print(d,type(d))

In [6]:
#Logical operators
#Observe the output of below code
#Cross check the output manually

print(True and True)        #----------------------------------------->Output is True
print(False and True)        #----------------------------------------->Output is False
print(True and False)        #----------------------------------------->Output is False
print(False and False)       #----------------------------------------->Output is False

print(True or True)          #----------------------------------------->Output is True
print(False or True)         #----------------------------------------->Output is True
print(True or False)         #----------------------------------------->Output is True
print(False or False)        #----------------------------------------->Output is False

print(not True)              #----------------------------------------->Output is False
print(not False)             #----------------------------------------->Output is True

True
False
False
False
True
True
True
False
False
True

In [12]:
#Bitwise Operators
#Do below operations on the values provided below:-
    #Bitwise and(&) -----------------------------------------> True, True    -------> Output is True
    


    #Bitwise or(|)  -----------------------------------------> True, False   -------> Output is True



    #Bitwise(^)     -----------------------------------------> True, False   -------> Output is True

  

    #Bitwise negation(~) ------------------------------------> True          -------> Output is -2

   

    #Bitwise left shift  ------------------------------------> True,2        -------> Output is 4



    #Bitwise right shift ------------------------------------> True,2        -------> Output is 0



#Cross check the output manually

print(True&True)
print(True|False)
print(True^False)
print(~True)
print(True<<2)
print(True>>2)

True
True
True
-2
4
0

In [13]:
#What is the output of expression inside print statement. Cross check before running the program.
a = True
b = True
print(a is b)          #True or False?   #
print(a is not b)      #True or False?

a = False
b = False
print(a is b)          #True or False?
print(a is not b)      #True or False?

True
False
True
False

In [14]:
#Membership operation
#in, not in are two membership operators and it returns boolean value

print(True in [10,10.20,10+20j,'Python', True])
print(False in (10,10.20,10+20j,'Python', False))
print(True in {1,2,3, True})
print(True in {True:100, False:200, True:300})
print(False in {True:100, False:200, True:300})

True
True
True
True
True